body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.Learning {
    background: #307D99 ;
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 4em;
    background-image: url('./img/programmer-1.jpg');
    background-position: center bottom;
}

header {
    padding: 1em 0;
    
}

.Learning a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    margin: 0 1em;   
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
    width: 80%;
    border-radius: 20px;
}

label {
    color: #2D7D98;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=button] {
    background-color: #04f8a7;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(216, 126, 1);
}

.Training {
    margin: 0;
}

.right-col {
    text-align: center;
    margin: 1em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

img {
    width: 100%;
}

.form-left { 
    padding-bottom: 20px;
}